<div class="section">
  <h1>Lind</h1>
  <h3>An ARVI accessibility guideline service</h3>
  <br><br>
  <a href="/cli" style="font-size: 18px">Command line interface</a>
  <br><br>
  <a href="/guidelines/category/3" style="font-size: 18px">Browse on desktop</a>
  <br><br>
  <a href="/m/guidelines/category/3" style="font-size: 18px">Browse on mobile</a>
</div>
