/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
div.section {
  z-index: 2;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  margin-bottom: 10px;
}

div.navigation img {
  width: 64px;
  height: 64px;
}

div.navigation a:hover {
  border: 0;
  text-decoration: none;
  background: none;
  opacity: 0.7;
}

input.big {
  padding: 5px;
  font-size: 18px;
  color: #666666;
  border: 4px solid #448ccb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.m-section {
  z-index: 2;
  text-align: center;
  margin-bottom: 10px;
  overflow: auto;
}