<!DOCTYPE html>
<html>
<head>
  <title>Lind</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="/assets/arvi_bg.jpg" style="position: fixed; top: 0px; right: 0px; height: 100%; z-index: -1; opacity: 0.4">

<%= yield %>

</body>
</html>
